.hero-section {
  display: flex;

  background-color: #f5eace;

  /* background-size: cover; */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

.hero-image {
  width: 50%;
  height: 400px;
  display: flex;
  margin-left: 100px;
}
.hero-text h2 {
  font-size: 35px;
  /* display: inline-flex; */
  color: #00712d;
  font-weight: bold;
  margin: 50px 0px 10px 130px; /*top,right,bottom.left*/
  align-items: center;
  text-align: justify;
}

.highlight {
  margin: 50px 0px 10px 130px; /*top,right,bottom.left*/

  font-size: 1.5rem;
  color: #00712d;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.easy {
  color: #ff9100;
}
.hero-text {
  width: 100%;
}

.hero-text p {
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 120px;
  margin-right: 0;
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #666;
  justify-content: center;
}

.hero-section button {
  padding: 10px 20px;
  background: #4caf50;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
  margin-left: 115px;
}

.hero-section button:hover {
  background: #00712d;
}
