.hero-section {
  display: flex;
  /* margin-bottom: 20px; */
  /* max-width: 100%; */
  background-color: #f5eace;
  /* background-image: url(../Images/Imange.jpg); */

  background-size: cover;
  /* max-height: 550px; */
  /* background-repeat: no-repeat;/ */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

.hero-image {
  width: 100%;
  height: 400px;
  display: flex;
  margin-left: 160px;
}
.hero-text h2 {
  font-size: 45px;
  display: inline;
  color: #00712d;
  font-weight: bold;
  margin: 50px 0px 20px 120px; /*top,right,bottom.left*/
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.highlight {
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 100px;
  margin-right: 0;
  font-size: 1.5rem;
  color: #00712d;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.easy {
  color: #ff9100;
}

.hero-text p {
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 120px;
  margin-right: 0;
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #666;
}

.hero-section button {
  padding: 10px 20px;
  background: #4caf50;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
  margin-left: 115px;
}

.hero-section button:hover {
  background: #00712d;
}
