.hero-section {
  /* display: flex; */
  text-align: center;
  padding: 60px 20px;
  /* background-image: url(../Images/bodyimage.jpg); */
  /* width: 100%; */
  margin-bottom: 20px;
  max-width: 100%;
  background-color: antiquewhite;
  max-height: fit-content;
}
.img {
  width: 870px;
  height: 450px;
  object-fit: contain;
  display: flex;
  margin-left: 155px;
}
.hero-section h1 {
  font-size: 2.5rem;
  color: #00712d;
  margin-bottom: 20px;
}

.hero-section p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #666;
}

.hero-section button {
  padding: 10px 20px;
  background: #4caf50;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
}

.hero-section button:hover {
  background: #00712d;
}
.img {
  display: flex;
}
