/* Body styling for background */

.form-login {
}
body {
  /* background-image: url(../Images/background.jpg); */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  background-position: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-left: 650px;
}

/* Form container styling */
form {
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 600px;
}

/* Form labels */
.form-label {
  font-weight: 600;
  margin-bottom: 10px;
  display: block;
  color: #333;
  text-align: justify;
  font-weight: bold;
}

/* Input fields */
.form-control {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 20px;
  /* margin-top: 5px; */

  border: 2px solid #4caf50;
  border-radius: 5px;
  font-size: 14px;
  color: #555;
  transition: border-color 0.3s;
}

.form-control:focus {
  border-color: #00712d;
  /* outline: none; */
  box-shadow: 0 0 5px #00712d(106, 17, 203, 0.5);
}

/* Help text */
.form-text {
  font-size: 12px;
  color: #777;
  margin-top: -15px;
  margin-bottom: 20px;
}

/* Checkbox */
.form-check-input {
  /* margin-right: 10px; */
  text-align: right justify;
}

.form-check-label {
  font-size: 14px;
  color: #555;
  display: inline;
  /* gap: 1px; */
}

/* Submit button */
.btn1 {
  background: #4caf50;
  margin-top: 15px;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}

.account {
  align-items: center;
  text-align: justify;
  display: inline;
  gap: 8px;
  margin-top: 15px;
  margin-left: 10px;
}
.sign {
  display: flex;
  align-items: center;
  text-align: justify;
  color: #00712d;
  margin-top: 16px;
  display: inline;
}

.h-2 {
  color: #00712d;
}

.image {
  margin-left: 615px;
}
