.recipe-card {
  background: #fff;

  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(167, 0, 0, 0.1);
  width: 300px;
  padding: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  justify-content: space-between;
}

.recipe-card img {
  box-shadow: #00712d;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.recipe-card h3 {
  margin: 15px 0;
  color: #00712d;
  font-size: 1.5rem;
  text-decoration: underline;
  justify-content: space-between;
}

.recipe-card p {
  text-align: justify;
  font-size: 1rem;
  color: #000000;
  padding: 0 15px;
  justify-content: space-between;
}

.recipe-info {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  font-size: 0.9rem;
  color: #020202;
  flex: 1;
  justify-content: space-between;
  padding: 20px;
  text-align: center;
}

.button {
  width: 90%;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 10px;

  background-color: #4caf50;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
  border: 2px solid #4caf50;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 15px;
}

.button:hover {
  background: #00712d;
}
.recipe-list {
  display: flex;
  justify-content: space-between; /* Distribute space between the lists */
  gap: 20px; /* Add some space between the lists */
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.h2 {
  font-size: 30px;
  position: relative;
  margin-top: 25px;
  margin-bottom: 10px;
  color: #00712d;
  /* text-decoration: underline #00s712d; */
}
.p {
  font-size: 14px;
  color: #0f0f0f;
}
