.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .recipe-list {
  display: flex;
  justify-content: space-between; /* Distribute space between the lists */
/* gap: 20px; /* Add some space between the lists */
/* }  */
/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
/* .h2 {
  font-size: 30px;
  position: relative;
  margin-top: 25px;
  margin-bottom: 10px;
  color: #00712d;
  /* text-decoration: underline #00s712d; */
/* }  */
/* .p { */
/* font-size: 14px; */
/* color: #0f0f0f; */
/* }  */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
